apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}-collector
  namespace: "{{ .Namespace }}"
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .Name }}
    app.kubernetes.io/component: collector
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: otlp-grpc
    - name: otlp-http
      port: 4318
      targetPort: otlp-http
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}-query
  namespace: "{{ .Namespace }}"
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .Name }}
    app.kubernetes.io/component: query
  ports:
    - name: http
      port: 8080
      targetPort: http
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}-ui
  namespace: "{{ .Namespace }}"
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .Name }}
    app.kubernetes.io/component: query
  ports:
    - name: http
      port: 8080
      targetPort: http
